@import './vendor-imports';

// custom overrides
$font-family-base: 'Titillium Web',"Helvetica Neue", Helvetica, Tahoma, sans-serif;
$font-family-headings: $font-family-base;
$font-family-controls: $font-family-base;
